{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Weather Prognosis</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  </head>

  <body>
    <div>
      <h2 id="city">{{city}}</h2>

      <form method="post">
        {%csrf_token%}
        <div class="search">
          <input type="text" name="city" placeholder="Enter city name"  id="search"/>

          <button type="submit" class="submit">
          Search
          </button>
        </div>
      </form>
      <div class="first-container">
        <p id="date">{{date}}</p>
        <p id="description">
          <img src=" https://openweathermap.org/img/wn/{{icon}}@2x.png" alt="" />

          | <span>{{description| capfirst}}</span>
        </p>

        <p id="current-temp">{{temp}}°C | {{fahrenheit}}°F</p>

        <p id="temp-range">
          {{temp_min}}°C - {{temp_max}}°C &nbsp; | &nbsp; {{min_fahrenheit}}°F -
          {{max_fahrenheit}}°F
        </p>

        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Details
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#">Humidity: {{humidity_list.0}}</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Pressure: {{pressure_list.0}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
   

  <div class="next-days">
    <div class="one-card">
      <div>
        <div>

          <h5>{{new_date_list.0}}</h5>
          <p>
            <img src=" https://openweathermap.org/img/wn/{{weather_icon_list.0}}@2x.png">
            <br>
            {{current_temp_list.0}}°C
            <br>

            {{weather_desc_list.0|title}}


            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Details
              </a>
  
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Humidity: {{humidity_list.0}}</a></li>
                <li><a class="dropdown-item" href="#">Pressure: {{pressure_list.0}}</a></li>
              </ul>
  
            </div>
          </p>
        </div>
      </div>
    </div>

    <div>
      <div>
        <div>

          <h5 >{{new_date_list.1}}</h5>
          <p>
            <img src=" https://openweathermap.org/img/wn/{{weather_icon_list.1}}@2x.png">
            <br>
            {{current_temp_list.1}}°C
            <br>

            {{weather_desc_list.1|title}}


            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Details
              </a>
  
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Humidity: {{humidity_list.1}}</a></li>
                <li><a class="dropdown-item" href="#">Pressure: {{pressure_list.1}}</a></li>
              </ul>
  
            </div>

          </p>
        </div>
      </div>
    </div>

    <div>
      <div>
        <div>

          <h5 >{{new_date_list.2}}</h5>
          <p>
            <img src=" https://openweathermap.org/img/wn/{{weather_icon_list.2}}@2x.png">
            <br>
            {{current_temp_list.2}}°C
            <br>

            {{weather_desc_list.2|title}}


            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Details
              </a>
  
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Humidity: {{humidity_list.2}}</a></li>
                <li><a class="dropdown-item" href="#">Pressure: {{pressure_list.2}}</a></li>
              </ul>
  
            </div>

          </p>
        </div>
      </div>
    </div>

    <div>
      <div>
        <div>

          <h5 >{{new_date_list.3}}</h5>
          <p>
            <img src=" https://openweathermap.org/img/wn/{{weather_icon_list.3}}@2x.png">
            <br>
            {{current_temp_list.3}}°C
            <br>

            {{weather_desc_list.3|title}}


            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Details
              </a>
  
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Humidity: {{humidity_list.3}}</a></li>
                <li><a class="dropdown-item" href="#">Pressure: {{pressure_list.3}}</a></li>
              </ul>
  
            </div>

          </p>
        </div>
      </div>
    </div>
    
    <div>
      <div>
        <div>

          <h5 >{{new_date_list.4}}</h5>
          <p>
            <img src=" https://openweathermap.org/img/wn/{{weather_icon_list.4}}@2x.png">
            <br>
            {{current_temp_list.4}}°C
            <br>

            {{weather_desc_list.4|title}}


            <div class="dropdown">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Details
              </a>
  
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="#">Humidity: {{humidity_list.4}}</a></li>
                <li><a class="dropdown-item" href="#">Pressure: {{pressure_list.4}}</a></li>
              </ul>
  
            </div>

          </p>
        </div>
      </div>
    </div>
  </div>
  
</body>

</html>


  </body>
</html>
