{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Weather prognosis</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>

  <div class="container bg-light w-50 m-auto mt-3 p-3">
    {{date}}
    <h2 class="text-center mb-4 lead fs-1">Weather prognosis for {{city|capfirst}}</h2>
    <form method="post">
      {%csrf_token%}
      <div class="d-md-flex justify-content-between align-items-center mb-3">
        <input type="text" class="form-control" name='city' placeholder="Enter city name">

        <button type="submit" class="input-group-text">
          <span>Search</span>
        </button>
      </div>
    </form>


    <p class="lead my-3">City: {{city | capfirst}} <img src=" https://api.openweathermap.org/img/w/{{icon}}.png"
        alt="" /> - {{description| capfirst}}</p>

    <p class="lead my-3">Current temperature: {{temp}}°C / {{fahrenheit}}°F</p>

    <p class="lead my-4">Min-max temperature: {{temp_min}}°C - {{temp_max}}°C &nbsp; ({{min_fahrenheit}}°F -
      {{max_fahrenheit}}°F)</p>


    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">
        Details
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="#">Pressure: {{pressure}} mb</a></li>
        <li><a class="dropdown-item" href="#">Humidity: {{humidity}}</a></li>
        <li><a class="dropdown-item" href="#">Wind: {{wind}}m/s</a></li>
      </ul>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"></script>
</body>

</html>